---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Icon from 'astro-icon'

const img =
	'https://images.unsplash.com/photo-1681405203174-240c946cf06e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80'
---

<Layout title="Masonry Dashboard">
	<div class="parent w-full flex justify-center items-center gap-2 h-[95vh]">
		<div
			class="left flex flex-col justify-center items-center w-[49%] gap-2 h-full"
		>
			<div
				class="top h-[35%] bg-blue-600 rounded-[2rem] w-full p-6 flex flex-col justify-end"
			>
				<div
					class="flex items-center justify-center gap-2 px-4 py-2 mb-1 rounded-full tag bg-slate-50 w-max"
				>
					<Icon pack="mdi" name="star" class="w-4" />
					Machine Statistics
				</div>
				<div class="wrapper rounded-full border border-white p-[2px]">
					<div
						class="p-2 px-4 font-bold text-white border-white rounded-full inner bg-slate-50/60 text-l"
					>
						<p class="mt-[-2px]">Simulation energy position</p>
					</div>
				</div>
			</div>
			<div
				class="bottom p-7 h-[65%] rounded-[2rem] w-full bg-slate-50 flex flex-col justify-between"
			>
				<div class="mt-[-1.5rem]">
					<p class="heading text-[4rem] font-semibold">Innovation</p>
					<div
						class="p-1 px-10 text-white uppercase bg-black rounded-full tag w-max"
					>
						Statistics
					</div>
				</div>
				<div class="w-full loaders">
					<div class="w-full mb-1 bg-gray-300 rounded-full bar">
						<div class="filled bg-black h-10 w-[60%] rounded-full">.</div>
					</div>
					<div class="w-full bg-gray-300 rounded-full bar">
						<div
							class="filled bg-black w-[90%] h-10 rounded-full text-white flex justify-end items-center pr-4"
						>
							+30%
						</div>
					</div>
				</div>
				<div class="text-2xl font-bold">
					<p>
						<span class="underline">Software</span>
						<span class="">with</span><span class="text-gray-400">
							future design</span
						> technology
					</p>
					<p>
						<span class="text-gray-400">boundless</span> innovation and experience.
					</p>
				</div>
				<div class="cta">
					<div class="flex items-center justify-center gap-1">
						<div class="flex-1 p-4 border-2 border-black rounded-3xl">
							<div
								class="flex items-center justify-between pt-12 border-b-2 border-b-black"
							>
								<p>Get Started</p>
								<Icon pack="ic" name="round-north-east" class="w-4" />
							</div>
						</div>
						<div class="flex-1 p-4 border-2 border-black rounded-3xl">
							<div
								class="flex items-center justify-between pt-12 border-b-2 border-b-black"
							>
								<p>Pricing</p>
								<Icon pack="ic" name="round-north-east" class="w-4" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="right rounded-[2rem] text-white h-full flex flex-col items-center justify-center w-[49%]"
		>
			<div
				class="top h-[35%] w-full flex items-center justify-between flex-col"
			>
				<div class="flex items-center justify-center w-full">
					<div class="p-[2px] border flex-1 border-white rounded-full">
						<div
							class="flex items-center justify-between p-1 px-2 border border-white rounded-full bg-slate-50/20"
						>
							<p>Navigation menu</p>
							<Icon pack="ic" name="round-north-east" class="w-4" />
						</div>
					</div>
					<a href="placeholderforprotfoliolink.com" target="_blank">
						<div class="p-[11px] border border-white rounded-full">
							<Icon pack="mdi" name="code-braces" class="w-4" />
						</div>
					</a>
					<a href="https://github.com/SaM13997" target="_blank">
						<div class="p-[11px] border border-white rounded-full">
							<Icon pack="mdi" name="github" class="w-4" />
						</div>
					</a>
					<a href="https://www.linkedin.com/in/sarthak13997/" target="_blank">
						<div class="p-[11px] border border-white rounded-full">
							<Icon pack="mdi" name="linkedin" class="w-4" />
						</div>
					</a>
				</div>
				<div class="border-b-2 border-white w-[97%]">Future Design</div>
				<div class="w-[97%] flex items-center justify-between">
					<p class="text-[4rem] font-semibold">Dashboard</p>
					<div class="flex gap-1">
						<div
							class="flex items-center justify-center bg-blue-500 rounded-full w-14 h-14"
						>
							<img
								src="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png"
								alt=""
								class="rounded-full w-14 h-14"
							/>
						</div>
						<div
							class="flex items-center justify-center bg-blue-500 rounded-full w-14 h-14"
						>
							<Icon pack="mdi" name="video" class="w-6" />
						</div>
					</div>
				</div>
			</div>
			<div class="bottom h-[65%] w-full bg-yellow-200"></div>
		</div>
	</div>

	<style lang="scss">
		.left .top {
			background: url('https://images.unsplash.com/photo-1680810094604-cd68532ebc56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80')
				no-repeat center center;
			background-size: cover;
		}
	</style>
</Layout>
